body {
  text-align: center;
  font-family: "Libre Caslon Text", Times, Garamond, "Century Gothic",
    "Libre Baskerville", "Sawarabi Mincho", sans-serif;
  /* background: fixed; */
  color: white;
  background-image: url(./moon.jpg);
  background-position: 55% 40%;
  animation: fadeIn 4s ease 0s 1 normal;
  -webkit-animation: fadeIn 4s ease 0s 1 normal;
}

.wrapper {
  width: 50%;
  margin: 80px auto;
}

h1 {
  font-size: 40px;
  color: rgb(182, 157, 117);
  font-weight: 100;
}

h2 {
  color: rgb(182, 157, 117);
  font-weight: 100;
}

ul {
  list-style: none;
}

input {
  background-color: rgb(110, 100, 82);
  border: none;
  padding: 8px;
  line-height: 40px;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  color: white;
  font-family: "Libre Caslon Text", Times, Garamond, "Century Gothic",
    "Libre Baskerville", "Sawarabi Mincho", sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}

.task-area {
  width: 80%;
  margin: 40px auto;
}

.inputArea::placeholder {
  color: rgb(192, 192, 192);
}

.inputArea:hover {
  opacity: 0.7;
  transition: 0.7s;
}

.todolist {
  padding: 0;
}

/* アイコンのポジション位置の親要素 */
.todo {
  margin-bottom: 10px;
  position: relative;
}

/* Todoリストのみの高さの指定 */
.editForm {
  height: 60px;
  margin-top: 15px;
}

.editForm:hover {
  opacity: 0.7;
  transition: 0.7s;
  color: red;
}

/* アイコンのポジション微調整 */
.far {
  position: absolute;
  color: red;
  top: 35px;
  right: 20px;
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*旧 Safari 用のベンダー処理*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 959px) {
  /* 959px以下に適用されるCSS（タブレット用） */
  .wrapper {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  .wrapper {
    width: 80%;
  }
}
