body {
  text-align: center;
  font-family: "Times New Roman", Times, sans-serif;
  background: rgb(0, 128, 128);
  color: white;
}

.wrapper {
  width: 40%;
  margin: 80px auto;
}

h1 {
  font-size: 40px;
}

ul {
  list-style: none;
}

input {
  background-color: rgb(5, 102, 103);
  border: none;
  padding: 8px;
  line-height: 40px;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  box-sizing: border-box;
}

.task-area {
  width: 80%;
  margin: 40px auto;
}

.inputArea::placeholder {
  color: rgb(192, 192, 192);
}

.todolist {
  padding: 0;
}

/* アイコンのポジション位置の親要素 */
.todo {
  margin-bottom: 10px;
  position: relative;
}

/* Todoリストのみの高さの指定 */
.editForm {
  height: 60px;
}

/* アイコンのポジション微調整 */
.far {
  position: absolute;
  color: yellow;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
